.actionContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 2px;
}

.component-list27 {
  display: flex;
  flex-direction: row;
}

.callsElement {
  background-color: rgb(66, 66, 156);
  border-radius: 5px; /* Adds rounded corners */
  padding: 5px;
  color: white;
  font-size: 1.8lvh; /* Adjust the font size as needed */
  vertical-align: middle;
  text-align: left;
  aspect-ratio: 33 / 12;
  width: 23%;
}

.raisesElement {
  background-color: lightcoral;
  border-radius: 5px; /* Adds rounded corners */
  padding: 5px;
  color: white;
  font-size: 1.8lvh; /* Adjust the font size as needed */
  vertical-align: middle;
  text-align: left;
  aspect-ratio: 33 / 12;
  width: 23%;
}

.betsElement {
  background-color: orange;
  border-radius: 5px; /* Adds rounded corners */
  padding: 5px;
  color: white;
  font-size: 1.8lvh; /* Adjust the font size as needed */
  vertical-align: middle;
  text-align: left;
  aspect-ratio: 33 / 12;
  width: 23%;
}

.checkElement {
  border: 1px solid #ccc;
  background-color: gray;
  border-radius: 2px; /* Adds rounded corners */
  font-size: 1.8lvh; /* Adjust the font size as needed */
  vertical-align: middle;
  text-align: left;
  aspect-ratio: 33 / 12;
  width: 23%;
}

.foldElement {
  border: 1px solid #ccc;
  background-color: #ff0000;
  border-radius: 2px; /* Adds rounded corners */
  padding: 2px;
  color: white;
  font-size: 1.8lvh; /* Adjust the font size as needed */
  vertical-align: middle;
  text-align: left;
  aspect-ratio: 33 / 12;
  width: 23%;
}

.streetElement {
  border: 1px solid #ccc;
  background-color: #ccc;
  border-radius: 2px; /* Adds rounded corners */
  padding: 2px;
  color: white;
  font-size: 1.8lvh; /* Adjust the font size as needed */
  vertical-align: middle;
  text-align: left;
  aspect-ratio: 33 / 12;
  width: 23%;
}
